.anchor {
  display: block;
  height: 120px;
  margin-top: -120px;
  visibility: hidden;
}

.post-boxed-image-wrap {
  width: auto; /*any size*/
  height: 281px; /*any size*/
}

.post-boxed-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /*magic*/
} 

.term_cim {
	margin-top: 20px;
	padding: 11px 8px 10px 20px;
	background-color: #fff;
	margin-bottom: 1px;
	border-left: 3px solid #e1e1e1;
	 text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
.sidebar_term_cim {
	background-color: #E1E1E1;
}

.mobil_kat_lenyito {
	display: inline;
    font-size: 25px;
    float: right;
    margin-top: -5px !important;
	cursor: pointer;
}
.mobil_kat_lenyito_allando {
	display: inline;
    font-size: 25px;
    float: right;
    margin-top: -5px;
	cursor: pointer;
}

@media (max-width: 991px) and (min-width: 768px) {
	.mobil_kat_lenyito {
		display: inline;
	}
}
@media (max-width: 767px) {
	.mobil_kat_lenyito {
		display: inline;
	}
	.kategoria_menu_zart {
		display: none;
	}
	.mobilon_eltunik {
		display: none;
	}
    .temek_info {
        margin-top: 20px;
    }		
}
@media (min-width: 768px) {
    .padding-jobb {
        padding-right: 45px !important;
        padding-left: 0px !important;
    }
    .padding-bal {
        padding-right: 115px !important;
        padding-left: 0px !important;
    }
  }    
}
.filter_box {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 4px;
    text-align: left;
}

.szuro_divek h3 {
    outline: 0 none;
    cursor: pointer;
    margin-bottom: 0px !important;
    text-transform: none;
}

.filter_box h3 {
    margin: 0 0 20px;
    line-height: 22px !important;
    font-size: 20px !important;
}

.chechack {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.chechack input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.chechack:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.chechack input:checked ~ .checkmark {
    background-color: #5c986a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.chechack input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.chechack .checkmark:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.szuro_divek p {
    margin-top: 10px;
    margin-left: 0px !important;
    margin-bottom: 0px !important;
}


.rangeslider__fill {
    background: #5c986a !important;
    position: absolute;
    top: 0;
}


hr {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    border: 0;
    border-top: 1px solid #eeeeee;
}

.filter_box .checkmark {
    background-color: #fff;
}

.lapozo_sav {
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.button-primary {
    color: #fedb26;
    background-color: #431e75;
    border-color: #431e75;
}

.button-primary:hover, .button-primary:focus, .button-primary:active, .button-primary:hover {
    color: #431e75;
    background-color: #fedb26;
    border-color: #fedb26;
}


.kassza .kassza_title {
    background: #5c986a !important;
}

.price-new {
    color: #5c986a !important;
    font-family: 'Roboto', sans-serif !important;
}

.aktiv_kat a {
    color: #663366 !important;
    background-color: #F5F5F5;
    border-left: 3px solid #663366 !important;
}

ul.kat_menu li a:hover {
    background-color: #F5F5F5;
    border-left: 3px solid #663366 !important;
}

.fels_termek_adatok {
    background-color: transparent !important;
    padding: 10px;
    text-align: center !important;
}

.term_info_ujar {
    color: #5c986a !important;
    font-family: 'Roboto', sans-serif !important;
}

.term_info_regiar {
    color: inherit !important;
    font-family: 'Roboto', sans-serif !important;
}

.price-old {
    color: inherit !important;
    font-family: 'Roboto', sans-serif !important;
}

.price-normal {
    font-family: 'Roboto', sans-serif !important;   
}

.term_info_plusz:hover, .term_info_minusz:hover {
    background-color: #5c986a !important;
    color: #fff !important;
}

.termek_info_tabla .table > thead > tr > th, .termek_info_tabla .table > thead > tr > td, .termek_info_tabla .table > tbody > tr > th, .termek_info_tabla .table > tbody > tr > td, .termek_info_tabla .table > tfoot > tr > th, .termek_info_tabla .table > tfoot > tr > td {
    border: none !important;
    vertical-align: middle;
}


.belepes_box {
    max-width: 400px !important;
}

.belepes_header {
    background-color: #5c986a !important;
}

.belepes_box p a {
    color: #5c986a !important;
}

.reg_header {
    background-color: #5c986a !important;
}

.reg_box a {
    color: #5c986a !important;
}

.filter_box {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

header .form-input {
    color: #fedb26;
    background-color: #431e75;
    border-color: #fedb26;
}

header .form-label {
    color: #fedb26;
}

header .rd-navbar-static.rd-navbar-decorative .rd-navbar-info .icon, .rd-navbar-fullwidth.rd-navbar-decorative .rd-navbar-info .icon {
    color: #fedb26;
}

header .rd-navbar-static .rd-navbar-info a, .rd-navbar-fullwidth .rd-navbar-info a {
    color: #fedb26;
}

.rd-navbar-fixed .rd-navbar-panel {
    background: #431e75;
}

.rd-navbar-toggle {
    color: #fedb26;
}

.rd-navbar-toggle:focus {
    outline: none;
    color: #fedb26;
}

.rd-navbar-static .rd-navbar-nav > li .rd-navbar-dropdown, .rd-navbar-fullwidth .rd-navbar-nav > li .rd-navbar-dropdown {
    border-top: 3px solid #431e75;
    background: #431e75;
}

.rd-navbar-static .rd-navbar-nav > li .rd-navbar-dropdown li a, .rd-navbar-fullwidth .rd-navbar-nav > li .rd-navbar-dropdown li a {
    color: #fedb26;
    background: transparent;
}

.rd-mailform-icon button {
    color: #fedb26;
}

.rd-navbar-fixed .rd-navbar-panel:before {
    background: #431e75;
}

.rd-navbar-fixed .rd-navbar-nav {
    background: #431e75;
    color: #fedb26;
}

.rd-navbar-toggle .toggle-icon:after, .rd-navbar-toggle .toggle-icon:before, .rd-navbar-toggle .toggle-icon {
    background-color: #fedb26;
}

.rd-navbar-fixed .collapse-toggle .toggle-icon, .rd-navbar-fixed .collapse-toggle .toggle-icon:before, .rd-navbar-fixed .collapse-toggle .toggle-icon:after {
    background: #fedb26;
}

.rd-navbar-fixed .rd-navbar-panel-right, .rd-navbar-fixed .rd-navbar-panel-mobile {
    background: #431e75;
    color: #fedb26;
}

.rd-navbar-fixed .rd-navbar-info {
    color: #fedb26;
}

.rd-navbar-fixed .rd-navbar-nav li:hover > a, .rd-navbar-fixed .rd-navbar-nav li.active > a, .rd-navbar-fixed .rd-navbar-nav li.opened > a, .rd-navbar-fixed .rd-navbar-nav p:hover > a, .rd-navbar-fixed .rd-navbar-nav p.active > a, .rd-navbar-fixed .rd-navbar-nav p.opened > a {
    color: #431e75;
    background: #fedb26;
}

.valutalinkek li a {
    color: #fedb26;
    cursor: pointer;
}

.valutalinkek li a:hover {
    color: #aaa;
} 